
[grid]

#nt = 10
#nt = 100
nt = 1000

#nx = 200
#ny = 200

#nx = 100
#ny = 100

#nx = 51
#ny = 51

#nx = 32
#ny = 32

#nx = 31
#ny = 31

nx = 30
ny = 30

ht = 0.1
#ht = 0.01

x1 = -4
x2 = +4
y1 = 0
y2 = 4


[solver]

#petsc_residual      = 1E-1
#petsc_residual      = 1E-2
#petsc_residual      = 1E-3
#petsc_residual      = 5E-4
#petsc_residual      = 1E-5
#petsc_residual      = 1E-6
#petsc_residual      = 1E-7
#petsc_residual      = 1E-8
#petsc_residual      = 1E-9
#petsc_residual      = 1E-11
petsc_residual      = 1E-12
#petsc_residual      = 1E-13


[initial_data]

magnetic_python = current_sheath_tanh
velocity_python = current_sheath_tanh
pressure_python = current_sheath_tanh


[io]

hdf5_output = /ptmp1/mkraus/petscMHD2D/current_sheath_tanh_pi_newton.hdf5
nsave = 1
