
[grid]

#nt = 10
nt = 100
#nt = 1000

#nx = 200
#ny = 200

#nx = 100
#ny = 100

nx = 64
ny = 64

ht = 0.01

Lx = 6.283185307179586
Ly = 6.283185307179586


[solver]

#petsc_residual      = 1E-1
#petsc_residual      = 1E-2
#petsc_residual      = 1E-3
#petsc_residual      = 5E-4
#petsc_residual      = 1E-5
#petsc_residual      = 1E-6
#petsc_residual      = 1E-7
#petsc_residual      = 1E-8
#petsc_residual      = 1E-9
petsc_residual      = 1E-11
#petsc_residual      = 1E-12

petsc_ksp_type = gmres
#petsc_ksp_type = lgmres
#petsc_ksp_type = tcqmr

petsc_pc_type  = none
#petsc_pc_type  = sor
#petsc_pc_type  = icc
#petsc_pc_type  = ilu
#petsc_pc_type  = ksp


[initial_data]

magnetic_python = orszag_tang_vortex
velocity_python = orszag_tang_vortex
pressure_python = orszag_tang_vortex


[io]

hdf5_output = orszag_tang_vortex.hdf5
#hdf5_output = /ptmp1/mkraus/petscMHD2D/orszag_tang_vortex.hdf5

nsave = 1
#nsave = 10000
